
.sortable-table thead th {
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sortable-table thead th.sortable {
  cursor: pointer;
  background-position: right;
  background-repeat: no-repeat;
  //mask-position:right;
  //mask-repeat: no-repeat;
  //-webkit-mask-repeat: no-repeat;
  //-webkit-mask-position:right;
  padding-right: 40px !important;
}

.sortable-table thead th.sort {
  //icon from FontAwesome, see license at https://fontawesome.com/license
  background-image:url(sort-solid.svg);
  background-size: 16px 16px;
  //-webkit-mask-image: url(sort-solid.svg);
  //mask-image: url(sort-solid.svg);
  //-webkit-mask-size: 16px 16px;
}

.sortable-table thead th.sort-asc {
  //icon from FontAwesome, see license at https://fontawesome.com/license
  background-image:url(sort-up-solid.svg);
  background-size: 16px 16px;
}

.sortable-table thead th.sort-desc {
  //icon from FontAwesome, see license at https://fontawesome.com/license
  background-image:url(sort-down-solid.svg);
  background-size: 16px 16px;
}
